<nav class="navbar navbar-dark navbar-static-top">
  <div class="custom-nav">
    <div class="container">
      <%= link_to "Allygator Shuttle", root_path, class: 'navbar-brand' %>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav navbar-right">
<!--          <li class='nav-item'><%#= link_to '', root_path, method: :delete, class: 'nav-link' %></li>-->
        </ul>
      </div>
    </div>
  </div>
</nav>
